<%- include("./partials/header.ejs");  %> 
<br>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(sufst_group.jpg);">
          <img src="sufst_group.jpg"  alt="SUFST Group Image">
          <!-- class="d-block w-100" -->
        <div class="carousel-caption d-md-block">
          <h5>SUFST - Head of Electronics 2019-2020</h5>
          <p>Producing high power automotive-grade looms, designed embedded systems and PCB development</p>
          <button type="button" class="btn btn-outline-light">Find out more</button>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(cansat.jpg);">
        <img src="cansat.jpg" alt="Cansat Group Picture">
        <div class="carousel-caption d-none d-md-block">
          <h5>CanSat - Head of Electrical Subsystems 2019-2020</h5>
          <p>Desinged electrical power system and designed PCB for all electronics to integrate easily</p>
          <button type="button" class="btn btn-outline-light">Find out more</button>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(d5_working_product.jpg);">
        <img src="d5_working_product.jpg" alt="Smart Meter Product">
        <div class="carousel-caption d-none d-md-block">
          <h5>Group Design Project - Smart Meter 2018-2019</h5>
          <p>In charge of producing interface circuitry to interact with on board microcontroller so we could reliably provided life-saving power for a hospital.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(suvc_smart.jpg);">
        <img src="suvc_smart.jpg" alt="Southampton University Volleyball Club">
        <div class="carousel-caption d-none d-md-block">
          <h5>Southampton University Volleyball Club - Vice-President 2019-2020</h5>
          <p>I was in the committee for two years, first as Social Secretary and then as Vice-President the following year.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<%- include("./partials/footer.ejs");  %> 
