<%- include("./partials/header.ejs");  %> 




    <div id="content">
        <div class="container">
            <h1 class="display-4">Anurag Sahare</h1>
            <hr>
            <p class="lead"> <strong>Driven, passionate, and ready to learn</strong>
            <!-- <hr class="my-4"> -->
            <br>
            MEng. 3rd Year Electrical and Electronic Engineer<br>University of Southampton</p>
            <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
        </div>
    </div>

    </div>
    <div class="container-fluid">
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>    
    </div>
<%- include("./partials/footer.ejs");  %> 
